@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: cornsilk;	
  font-family: 'IM Fell English SC', serif;	

}
/* --------------------- HEADER --------------------- */
.company_name {
  display: flex;
  align-items: center;
  max-width: 1250px;	 
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 10vh;
  padding: 5px;
  /*background: #B55A30;*/
  background: rgb(205,133,63);
  background: linear-gradient(90deg, rgba(205,133,63,1) 0%, rgba(181,90,48,1) 50%, rgba(205,133,63,1) 100%);
  color: blue;
  margin: 72vh auto 0 auto;
  z-index: 10;
}
.company_name>h2{
  color: rgba(255, 255, 255, 0.9);
  width: 100%;	
  margin: 0 auto;   
  font-size: 3.4rem;
  text-align: center;
  letter-spacing: 0.6rem;
  padding: 0.6rem;
  /*text-shadow: -1px 0 #4d2600, 0 1px #4d2600, 1px 0 #4d2600, 0 -1px #4d2600;*/
  
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.9); /* Safari */  
  text-decoration-color: rgba(255, 255, 255, 0.9);
  text-underline-offset: 0.375rem;
}

.wrapper{
	
  margin-top: -82vh;	
	
}
header{
  max-width: 1250px;
  height: 100vh;
  position: relative;
  margin: 0 auto 0 auto;
  /*background: url('assets/couple_main_edited.jpg') no-repeat 70% center/cover;*/
  background: url('moon_flower_Medium.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 74% 80%;
  border: 1px solid #200a00;
}
.gradient{

 height: 100vh;
 background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0))

}



/* --------------------- PAGE_1 --------------------- */
.page_1{
  max-width: 1250px;
  margin: 0 auto 0 auto;
  /*background-color: peru;*/
  background: rgb(210,180,140);
  background: linear-gradient(90deg, rgba(210,180,140,1) 0%, rgba(205,133,63,1) 50%, rgba(210,180,140,1) 100%);
	
}
.page_1_content{
  width: 80%;
  margin: 0 auto 0 auto;	
  padding-top: 2rem;	
}
.page_1_content>h2{
  width: 100%;
  margin: 0 auto 0 auto;
  font-size: 2rem;  
  letter-spacing: 0.4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;  
}
.page_1_content>p{
  width: 100%;
  margin: 0 auto 0 auto;
  font-size: 1.4rem;  
  letter-spacing: 0.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;  
}
.page_1_content>p>span{
  font-size: 1.6rem;  
  color: yellow;
  letter-spacing: 0.2rem;
  
}

/* --------------------- family, body, soul, health --------------------- */
.family,.body, .soul, .health {
  display: flex;	
  justify-content: space-between;
  padding-bottom: 2rem;
  /*border: 2px solid blue;*/
}

.family_img,.body_img, .soul_img, .health_img {
  display: flex;
  width: 48%;	

	
}
.family_img img,.body_img img, .soul_img img, .health_img  img{
  width: 80%;	
  border-radius: 1.4rem;
  margin: 0;  
  box-shadow: 0 0 10px 5px #4d2600;  
}
.family_text, .body_text, .soul_text, .health_text {
  width: 48%;	
  font-size: 1.4rem;
  line-height: 1.4;
}
.family_text h3, .body_text h3, .soul_text h3, .health_text h3{
  padding-bottom: 0.5rem;	
  font-size: 1.4rem;  
  letter-spacing: 0.3rem;
}

/* ---------------------  body, health    --------------------- */

.body_img, .health_img {
  justify-content: flex-end;
}

/* ---------------------  soul    --------------------- */

/* ---------------------  FOOTER    --------------------- */
footer{
  max-width: 1250px;
  /*height: 5rem;  */
  margin: 0 auto;
  padding: 1rem  0;
  /*background-color: #B55A30;	*/
  background: rgb(205,133,63);
  background: linear-gradient(90deg, rgba(205,133,63,1) 0%, rgba(181,90,48,1) 50%, rgba(205,133,63,1) 100%);
	
}
.social{
  width: 60%;
  /*height: 3rem;*/
  margin: 0 auto;
  /*background-color: yellow;  */
  	
	
}

.social h3{

  font-size: 1.4rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
	
}


.social p{
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-bottom: 0.8rem;  
}
.social p:last-of-type{
  padding-bottom: 0rem;  
}



/* --------------------- RESPONSIVE --------------------- */
@media only screen and ( min-width: 1300px){

  header{
	background-position: 74% 65%;
  }	
  .company_name{
    height: 10vh;
  }
}

@media only screen and (max-width: 992px) {
  header{
    background-position: 74% 100%;
  }	
  
   .company_name>h2{
     font-size: 4.8vw;
   }
   
  .family,.body, .soul, .health {
    flex-direction: column;
  }  
  .body, .health {
	flex-direction: column-reverse;
  }
  
  .family_img,.body_img, .soul_img, .health_img {
    width: 100%;   
	padding-bottom: 2rem;
  } 
  .family_text, .body_text, .soul_text, .health_text {
    width: 100%;	
  } 
  .body_img, .health_img {
    justify-content: center;
	flex-direction: column-reverse;
  }
 .family_img img,.body_img img, .soul_img img, .health_img  img{
    margin: 0 auto;  
 }	
	
}

@media only screen and ( max-width: 600px){
  header{
    background: url('moon_flower_Small.jpg');	  
    background-position: 74% 100%;
    height: 100vh;
  }	
  
  .company_name{
    height: 10vh;
  }
  
  .company_name>h2{
    font-size: 4vw;

   }
  
   .page_1_content>h2{

     font-size: 1.4rem;  
	 padding-top: 0rem;
     padding-bottom: 0rem; 
   }   
   
   .page_1_content>p{

	  font-size: 1.1rem;  
    }   
	
	.page_1_content>p>span{
	  font-size: 1.15rem;  
	}	
	
    .family_text, .body_text, .soul_text, .health_text {
	
      font-size: 1.1rem;
	}	
	
    .family_text h3, .body_text h3, .soul_text h3, .health_text h3{
      padding-bottom: 0.5rem;	
      font-size: 1.25rem;  
    }	
   
   .social h3{
     font-size: 1.1rem;
   }

   .social p{
     font-size: 0.9rem;
    }
}

@media only screen and (orientation: landscape) {
  .company_name{
    height: 14vh;
	margin: 68vh auto 0 auto;
  }
  
  .company_name>h2{
    font-size: 6vh;
   }
   
   .page_1_content>h2{

     font-size: 1.6rem;  
	 padding-top: 0rem;
     padding-bottom: 0rem; 
   }   
   
   .page_1_content>p{

	  font-size: 1.1rem;  
    }   
	
	.page_1_content>p>span{
	  font-size: 1.15rem;  
	}	

    .family_img img,.body_img img, .soul_img img, .health_img  img{
      width: 50%;	

      margin: 0 auto;  
    }
	
    .family_text, .body_text, .soul_text, .health_text {
	
      font-size: 1.1rem;
	}	
	
    .family_text h3, .body_text h3, .soul_text h3, .health_text h3{
      padding-bottom: 0.5rem;	
      font-size: 1.25rem;  
    }	
   
   .social h3{
     font-size: 1.1rem;
   }

   .social p{
     font-size: 0.9rem;
    }
}



